body {
    background-color: #1a1a1a;
    color: #f5f5f5;
}

@keyframes FadeLeft {
    from {
        opacity: 0; 
        transform: translateX(-20px);
        }
    to {
        opacity: 1; 
        transform: translateX(0);
        }
}

@keyframes FadeRight {
    from {
        opacity: 0; 
        transform: translateX(20px);
        }
    to {
        opacity: 1; 
        transform: translateX(0);
        }
}

@keyframes FadeUp {
    from {
        opacity: 0; 
        transform: translateY(20px);
        }
    to {
        opacity: 1; 
        transform: translateY(0);
        }
}

@keyframes PopIn {
    from {
        opacity: 0; 
        transform: scale(0.8);
        }
    to {
        opacity: 1; 
        transform: scale(1);
        }
}

.FadeLeft {
    animation: FadeLeft 1s ease-out forwards;
    opacity: 0;
    animation-delay: calc(var(--time) * 0.25s); 
}

.FadeRight {
    animation: FadeRight 1s ease-out forwards;
    opacity: 0;
    animation-delay: calc(var(--time) * 0.25s); 
}

.FadeUp {
    animation: FadeUp 1s ease-out forwards;
    opacity: 0;
    animation-delay: calc(var(--time) * 0.25s); 
}

.PopIn {
    animation: PopIn 1s ease-out forwards;
    opacity: 0;
    animation-delay: calc(var(--time) * 0.25s); 
}

.ScrollAnim {
    animation-timeline: view();
    animation-range: entry 0% cover 40%; 
}

footer.footer {
    color: #f5f5f5 !important;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.custom-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 40px;
    border-radius: 35px;
    border-style: solid;
    border-color: #f5f5f551;
    border-width: 1px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #8fc8f6;
}

.icon {
    width: 35px;
    height: 35px;
}

.container {
    display: flex;
    text-align: justify;
    justify-content: space-between;
    gap: 20px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    padding: 50px;
    padding-bottom: 80px;
}

.LineContainer {
    border-top: 1px solid #f5f5f551;
    flex-direction: column;
}

.ProjectContainer {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-bottom: 10px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 10px;
    border: 1px solid #f5f5f551;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.ProjectContainer:hover {
    background-color: #8acaff;
    color: #000000;
}

.project-img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    object-fit: contain;
    background-color: #8fc8f6;
    
}

.project-text {
    display: grid;
    grid-template-areas: 
        "a"
        "b"
        "b"
        "c"
        ;
    gap: 20px;
    padding: 20px;
}

.projectAddInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.text-left {
    flex: 1;
    padding-right: 50px;
}

.display-1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.display-2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.display-3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.display-4 {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

h4.display-4 {
    font-size: 1rem;
}

h5.display-4 {
    font-size: 0.75rem;
}

p.display-3 {
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3.display-1 {
    font-size: 1.80rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.display-5 {
    font-size: 1rem;
    padding: 10px;
    padding-right: 90px;
}

.display-6 {
    font-size: 0.75rem;
    padding: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    background-color: #fb5d5d1d;
    border: 1px solid #fb5d5d52;
    border-radius: 13px;
}

.profile-img {
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}

.text-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box {
    border: 1px solid #f5f5f551;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 30%;
    height: 200px;
}

.SkillBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 1px solid #f5f5f551;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 69%;
    height: 200px;
}

.bar {
    position: relative;
    display: flex;
    height: 10px;
    width: 90%;
    background: #f0e8e8;
    border-radius: 5px;
    flex-direction: column;
}

.Progress {
    position: absolute;
    display: flex;
    height: 10px;
    width: calc(var(--progress) * 100%);
    background: #4951f1;
    border-radius: 5px;
    flex-direction: column;
}
