@font-face {
  font-family: "Custom-Code";
  src: url(../fonts/CodeFont.otf);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #ffff;
  min-height: 100vh;
  overflow-x: hidden;
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.parallax {
  font-family: "Custom-Code";
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 120vh;
  overflow: hidden;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

#title_text {
  color: #6c5671;
  margin-top: -250px;
}

#name {
  text-align: center;
  font-size:5ex;
}

#sky, #cloud {
  z-index: -1;
}

.info {
  font-family: "Custom-code";
  position: relative;
  background: #6c5771;
  padding: 120px;
}

.info-title {
  color: #ffff;
  text-align: center;
  font-size: 2em;
  font-weight: 5px;
}

.experience-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5ex;
}

#dizzy-mascot, #squished-mascot {
  position: relative;
  width: 20vw;
  max-width: 120px;
}

.special-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  gap: 1em;
  width: 100%;
}

.experience-grid-card {
  border: 2px solid #ffff;
  background-color: #ffff; 
  border-radius: 1em;
  padding: 2ex;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

#experience-text {
  color: #6c5771;
}

.experience-grid-card:hover {
  transform: scale(0.95);
  background-color: #6c5771;
  color: #ffff;
  box-shadow: 0px 4px 10px #00000050;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
}

#project-text {
  color: #ffff;
}

.project-grid-card {
  border: 2px solid #ffff;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5em;
  gap: 1ex;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.project-grid-card:hover {
  border-color: #ffff;
  background-color: #ffff;
  color: #6c5771;
  box-shadow: 0px 4px 10px #00000050;
  transform: translateY(-20px) scale(1.02);
}

.project-grid-card:hover img{
  filter: brightness(100%);
  transform: scale(1.02);
}

.project-grid-card img {
  filter: brightness(0%) invert(1);
  width: 15vw;
}

.pan {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100vw;
  height: 100vh;
}

.panner {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

#one {
  color: #ffff;
  display: flex;
  position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #6c5671;
}

#one-text {
  left: 1300px;
  font-size: 2ex;
  position: absolute;
}

#two {
  display: flex;
  position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}

.education {
  position: absolute;
  text-align: left;
  top: 100px;
  left: 2500px;
  font-size: 20px;
}

.hobbies {
  position: absolute;
  text-align: right;
  top: 700px;
  left: 1700px;
  font-size: 20px;
}

#creative-workflow {
  border-radius: 40px;
  padding: 10px;
  position: absolute;
  top: 600px;
  left: 1500px;
  font-size: 30px;
  font-weight: 5%;
}

#technical-workflow {
  position: absolute;
  top: 250px;
  left: 2200px;
  font-size: 30px;
}

#three {
  color: #ffff;
  display: flex;
  position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #6c5671;
}

.panning {
  color: #6c5671;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  scrollbar-width: none;
}

#about-me-title {
  top: 10px;
  position: absolute;
}

#lets-connect-title {
  top: 10px;
  position: absolute;
}

#title-desc-1 {
  font-size: 10em;
  position: absolute;
}

#title-desc-2 {
  font-size: 10em;
  top: 20px;
  position: absolute;
}

#title-desc-3 {
  font-size: 10em;
  bottom: 20px;
  position: absolute;
}

#self-picture {
  width: 100vh;
  left: 2235px;
  position: absolute;
  pointer-events: none;
  object-fit: cover;
}

.lets-connect-title{
  display: flex;
  flex-direction: column;
  gap: 1ex;
  font-size: 16px;
}

.email-container {
  display: flex;
  flex-direction: row;
  gap: 5ex;
  font-size: 16px;
}

.socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials-buttons {
  display: flex;
  flex-direction: row;
  gap: 7em;
}

#meerkat-dialogue {
  position: absolute;
  left: 3965px;
  bottom: 530px;
  border: 2px solid #ffff;
  border-radius: 100px;
  padding: 10px
}

.container-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.socials-buttons img {
  filter: brightness(0) invert(1);
  width: 5vh;
  transition: 0.1s ease-in-out;
}

.social-icon:hover {
  filter: brightness(100%);
  transform: scale(1.5);
}

/* #about-me {                          // If ever choosing to show the privacy footer since there is overflow
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
} */
