html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #ffff;
  min-height: 100vh;
  overflow-x: hidden;
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.parallax {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 110vh;
  overflow: hidden;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

#title_text {
  color: #6c5671;
  margin-top: -250px;
}

#name {
  text-align: center;
  font-size:3ex;
}

#sky, #cloud {
  z-index: -1;
}

.info {
  position: relative;
  background: #6c5771;
  padding: 100px;
  color: #6c5770;
}

.info-title {
  color: #ffff;
  text-align: center;
  font-weight: 5px;
}

.experience-contents{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5ex;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  gap: 1em;
}

.experience-grid-card {
  border: 4px solid #dea38B; 
  background-color: #ffe6C6;
  border-radius: 1em;
  padding: 2ex;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.experience-grid-card:hover {
  transform: scale(1.02);
  background-color: #dea38B;
  color: #ffff;
  box-shadow: 0px 4px 10px #00000050;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
}

#project-text {
  color: #ffff;
}

.project-grid-card {
  border: 2px solid #ffff;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5em;
  gap: 1ex;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.project-grid-card:hover {
  border-color: #ffe6C6;
  background-color: #ffe6C6;
  color: #6c5771;
  box-shadow: 0px 4px 10px #00000050;
  transform: translateY(-5px) scale(1.02);
}

.project-grid-card img {
  width: 15vw;
}




